body {
    font-family:  Lato,"Microsoft YaHei",sans-serif, Helvetica, Arial, "Microsoft YaheiUI",   SimHei, "\5B8B\4F53", simsun;
    font-weight: 400;
    color: #616161;
}

.light_green {
    color: #4db6ac;
}
a:hover {
    text-decoration: none;
}
.greenFontindex {

    font-weight: 700;
    text-shadow: 1px 1px #EFEFEF;
    color: #22C3AA;
}
.greenFont {
    font-weight: 700;
    text-shadow: 1px 1px #EFEFEF;
    color: #22C3AA;
    letter-spacing: 1px;
}
.huise {
    color: #999;
}


/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}



#mycarousel {  /* 让轮播图顶部空出50px，使得不让固定导航条压住内容 */
    margin: 50px 0 0 0;
}
.carousel-inner img {  /* 让轮播图片在轮播框里面居中 */
    margin: 0 auto;
}

.audioMove {
    -webkit-animation: audioMove 1s linear infinite both;
    animation: audioMove 1s linear infinite both;
}
@-webkit-keyframes audioMove {
    from{
        -webkit-transform:rotate(0deg) ;
        transform:rotate(0deg) ;
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@keyframes audioMove {
    from{
        -webkit-transform:rotate(0deg) ;
        transform:rotate(0deg) ;
    }
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

.audio {
    display: block;
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/81C58PICHZv_1024.jpg")no-repeat;
    background-size: 100% 100%;
}





/*------------------------------
    我的个人信息
--------------------------------*/
.tab-h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px #EFEFEF, 3px 3px #AEE2D9;
    border-top: 3px dashed #22C3AA;
    color: #22C3AA;
}
.tab-p {
    text-align: center;
    font-size: 15px;
    color: #999;
    margin: 20px 0 40px 0;
}
.tab1 .row .col {
    padding: 20px;
}
.tab1 .media-heading {
    margin: 5px 0 20px 0;
}
.myphoto {
    text-align: center;
    padding: 10px 0;
}
#avatar {
    width: 230px;
    height: 230px;
    border: 5px solid #aee2d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/*------------------------------
    专业技能样式
--------------------------------*/

.tab2 {
    background-color: #F8F8F8;
    padding: 40px 20px;
}
.tab2 .chartTab2 {
    padding: 0;
}
.align-center {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 3px;
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px #EFEFEF, 3px 3px #AEE2D9;
    color: #22C3AA;
}
.bar-chart {
    height: 450px;
    position: relative;
    padding: 0;
    margin: 0 auto;
}

.bar-chart li {
    display: inline-block;
    width: 14%;
    height: 100%;
    background-color: #CCC;
    text-align: center;  /* 文字居中 */
    font-weight: bold;
    color: #FFF;
    position: relative;
    font-size: 18px;
    margin: 0 1.6% 0 0;
    border: #BBB solid 1px;
    vertical-align: bottom;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6); /* li顶部线效果 */
}
.bar-chart li:nth-child(1) {
    margin-left: 55px;
}
.bar-chart li:nth-child(5) {
    margin-right: 0;
}
.bar-chart .percent {
    opacity: 0.3;
    position: absolute;
    bottom: 50px;
    font-size: 45px;
    width: 100%;
    line-height: 1em;
}
.bar-chart .percent span {
    font-size: 24px;
    padding-left: 3px;
}
.bar-chart .skill {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 24px;
}
.bar-chart .p-75 {
    height: 75%;
}
.bar-chart .p-80 {
    height: 80%;
}
.bar-chart .p-85 {
    height: 85%;
}

#aqua, #pink, #yellow, #brown, #red {
    opacity: 0;
}

.bar-chart .aqua {
    border-color: #8dc5be;
    background-color: #b0dbd6;
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));*/
    background-image: -webkit-gradient(linear, left bottom, left top, from(#5fb2a8), to(#b0dbd6));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}
.bar-chart .pink {
    border-color: #ebc0b5;
    background-color: #f4dcd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
    background-image: -ms-linear-gradient(bottom, #e1ae9e, #f4dcd6);
    background-image: -moz-linear-gradient(center bottom, #e1ae9e 0%, #f4dcd6 100%);
    background-image: -o-linear-gradient(bottom, #e1ae9e, #f4dcd6);
}
.bar-chart .yellow {
    border-color: #e7af30;
    background-color: #efc563;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfae36), color-stop(1, #efc563));
    background-image: -ms-linear-gradient(bottom, #dfae36, #efc563);
    background-image: -moz-linear-gradient(center bottom, #dfae36 0%, #efc563 100%);
    background-image: -o-linear-gradient(bottom, #dfae36, #efc563);
}
.bar-chart .brown {
    border-color: #dcb386;
    background-color: #dcba83;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc8e5b), color-stop(1, #dcba83));
    background-image: -ms-linear-gradient(bottom, #bc8e5b, #dcba83);

    background-image: -moz-linear-gradient(center bottom, #bc8e5b 0%, #dcba83 100%);
    background-image: -o-linear-gradient(bottom, #bc8e5b, #dcba83);
}
.bar-chart .red {
    border-color: #e14949;
    background-color: #da6d6c;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
    background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
    background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
    background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
}


/*------------------------------
    工作经历样式
--------------------------------*/

.exprience .container {
    padding-top: 50px;
    padding-bottom: 90px;
}

.exprience h4 {
    font-weight: 700;
}
.workDetails .rightArea {
    padding-bottom: 50px;
    border-left: 3px dashed #22C3AA;
}
.workDetails:last-child .rightArea {
    padding-bottom: 0;
}
.workYear {
    font-size: 17px;
    color: #fff;
    line-height: 40px;
}
.workYear span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 30px;
    border-radius: 4%;
    padding: 0 15px;
}
.prevY {
    background-color: #D0648A;
}
.afterY {
    background-color: #22C3AA;
}
.exCon {
    padding: 0 47px 6px 70px;
}
.exCon p {
    line-height: 27px;
}
.exCon h4 {
    color: #5b4c5c;
    margin-top: 0px;
}
.exCon h5 {
    color: #5b4c5c;
    margin-top: 13px;
    font-size: 15px;
}

/*------------------------------
    项目经验样式
--------------------------------*/

.project {
    background: #F8F8F8;
}

@media screen and (min-width: 770px) {
    .project-items > a {
        position: relative;
        display: block;
        width: 46%;
        height: 46%;
        float: left;
        overflow: hidden;
        /*line-height: 1em;*/
        margin: 10px;
        box-shadow: 2px 2px #ccc;
    }

    .project-items * {
        -webkit-transition: opacity .35s, -webkit-transform .35s;
        transition: opacity .35s, transform .35s;
    }

    .project-items > a.project-item1:hover {
        background: #67d2bf;

    }

    .project-items > a.project-item2:hover {
        background: #4ec141;
    }

    .project-items > a.project-item3:hover {
        /*background: #38d64d;*/
        /*background: #df464d;*/
        background-color: #22C3AA;
    }

    .project-items > a.project-item4:hover {
        background: #d46b2b;
    }

    .project-items > a > img {
        width: 100%;
        height: auto;
    }
    .project-items > a > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        text-align: center;
        background-color: rgba(0, 0, 0, .25)
    }

    .project-items > a:hover > img {
        opacity: .2;
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1); /* 轻微放大项目图片 */
    }
    .project-items > a:hover > div {
        background-color: transparent;  /* 背景颜色透明 */
    }

    .project-items > a > div:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        content: '';
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .project-items > a:hover > div:after {
        opacity: .33;
        -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
        transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
    }

    .project-items > a > div > h5, .project-items > a > div > p {
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        color: #fff;
        opacity: 1;
        margin: 0 auto;
        line-height: 1;
    }

    .project-items > a > div > p {
        opacity: 0;
        top: 40%;
        font-size: 16px;
    }

    .project-items > a > div > h5 {
        font-size: 32px;
        font-family: '黑体';
        text-shadow: 2px 2px 16px #000000;
    }

    .project-items > a:hover > div > h5 {
        transform: translateY(-60px);
    }

    .project-items > a:hover > div > p {
        opacity: 1;
        transform: translateY(20px);
        transition-delay: 0.35s;
    }
}

/*------------------------------
    自我评价
--------------------------------*/

#tab5 .container p {
    text-align: left;
    margin: 8px auto;
    width: 650px;
}
#tab5 h4 {
    color:  #D0648A;
    margin: 10px auto;
    width: 160px;
}
#tab5 .textcenter {
    margin: 5px 0;
}
/*------------------------------
    联系方式样式
--------------------------------*/
.contact {
    padding-bottom: 50px;
    
}
#tab6 h3,
#tab6 h4 {
    display: inline-block;

}
#tab6 h3 {
    color:  #D0648A;
}
#tab6 h4 {
    color: #22C3AA;
}
#tab6 .acenter {
    text-align: center;
    margin: 10px 0;
}



























